@import './drops.css';
@import './index.css';
@import './fonts.css';

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.interact-button {
  cursor: pointer;
}

.ticker-wrapper {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.ticker {
  display: inline-block;
  animation: ticker-right 40s linear infinite;
}

.ticker span {
  display: inline-block;
  padding: 0 2rem;
}

@keyframes ticker-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.modal img {
  width: 60%;
  max-width: 260px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 15px auto;
}
