@import './drops.css';
@import './index.css';
@import './fonts.css';

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.interact-button {
  cursor: pointer;
}

.modal img {
  width: 60%;
  max-width: 260px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 15px auto;
}
